body {
  font-family: 'Lato', sans-serif;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6, .header, .title {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

a {
  color: blue;
}

.content {
  max-width: 1224px;
  margin: auto;
}

.header {
  margin: 35px auto;
}
.logo {
  font-size: 50px;
  font-family: 'ubuntu', sans-serif;
  font-weight: 300;
}
.logo .underscore {
	text-decoration: underline;
}

.post-header{
  background-color: #DCDCDC;
  padding: 25px 0px 25px;
}
.post-header .text {
  text-align: right;
  margin: auto;
  font-style: italic;
  font-family: 'ubuntu', sans-serif;
  font-weight: 300;
}

.main {
  padding: 35px 0px;
}

.subscription {
  background-color: #DCDCDC;
  padding: 10px;
}
.subscription .form .title {
  margin-bottom: 10px;
}

.footer {
  background-color: #DCDCDC;
  height: 100px;
  padding: 20px 0px;
}
.footer .copyright {
  display: inline-block;
  float: left;
}
.footer .contact {
  display: inline-block;
  float: right;
  text-align: right;
}
.footer a {
  color: black;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}

.menu {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 5px;
  width: 100%;
  text-align: right;
  background-color: white;
}
.menu .item {
  display: inline-block;
  margin-right: 10px;
}
.menu .item a {
  color: black;
  text-decoration: none;
}
.menu .item a.active {
  text-decoration: underline;
}

.main .more a, 
.main .text h1 a,
.main .text h2 a,
.main .text h3 a,
.main .text h4 a,
.main .text h5 a,
.main .text h6 a {
  color: black;
  text-decoration: none;
}
.main .more a:hover, 
.main .text h1 a:hover,
.main .text h2 a:hover,
.main .text h3 a:hover,
.main .text h4 a:hover,
.main .text h5 a:hover,
.main .text h6 a:hover {
  text-decoration: underline;
}
.article .title {
  color: black;
  text-decoration: none;
}
.article .title:hover {
  text-decoration: underline;
}